<h1 class="header">{{title}}</h1>

<div class="hidden-xs col-sm-2 col-md-2 col-lg-3"></div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Welcome to Casperinc.expert!</div>
        <div class="panel-body">
            <p>The site is a work in progress, so please bear with me. The current priorities are...</p>
        </div>

        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                <span class="badge">Item 1 - In progress</span> Add details to About page.
            </li>
            <li class="list-group-item">
                <span class="badge">Item 2</span> Build out welcome page front end with static news.
            </li>
            <li class="list-group-item">
                <span class="badge">Item 3</span> Build Blog.
            </li>
            <li class="list-group-item">
                <span class="badge">Item 4</span> Update welcome page with dynamic content.
            </li>
        </ul>
    </div>
</div>
<div class="hidden-xs col-sm-2 col-md-2 col-lg-3"></div>