<h1 class="header">{{title}}</h1>

<div class="hidden-xs col-sm-3 col-md-3 col-lg-3 about-side-bar">
      <img src="https://www.casperinc.expert/media/CasperincLogoDark.svg" class="big-logo img-responsive">
      <div><input *ngIf="loggedIn" type="button" class="btn btn-primary" value="New Narrative" /></div>
</div>

<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 about-main">

      <img src="https://www.casperinc.expert/media/CasperincLogoDark.svg" class="hidden-sm hidden-md hidden-lg big-logo img-responsive">
      <div><input *ngIf="loggedIn" type="button" class="hidden-sm hidden-md hidden-lg btn btn-primary" value="New About Item" /></div>

      <ul class="about-item-list" ngif>
            <li *ngFor="let narrative of narratives">
                <about-item [narrative]='narrative' [loggedIn]='loggedIn'></about-item>
            </li>
      </ul>
</div>

<div class="hidden-xs hidden-sm col-md-1 col-lg-2"> </div>
